* {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 10px;
}

.grid-item {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(1, 255, 200, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.score {
    color: whitesmoke;
    font-size: 25px;
    padding: 10px;
}

.clear {
    margin-left: 10px;
    color: whitesmoke;
    font-size: 25px;
    background-color: black;
    display: inline-block;
    
}

.counter {
    color: whitesmoke;
    padding: 10px;
}

.nums{
    float: right;
}

.add {
    font-size: 30px;
    display: inline-block;
}

.subtract {
    font-size: 30px;
    display: inline-block;
}

.add:hover {
    color: rgb(255, 5, 192);
}

.subtract:hover {
    color: rgb(255, 5, 192);
}

#clear:hover {
    color: rgb(255, 5, 192);
}

#A:hover {
    color: rgb(255, 5, 192) !important;
} 

#B:hover {
    color: rgb(255, 5, 192) !important;
}

#C:hover {
    color: rgb(255, 5, 192) !important;
}

#D:hover {
    color: rgb(255, 5, 192) !important;
}

#E:hover {
    color: rgb(255, 5, 192) !important;
}

#F:hover {
    color: rgb(255, 5, 192) !important;
}

#G:hover {
    color: rgb(255, 5, 192) !important;
}

#H:hover {
    color: rgb(255, 5, 192) !important;
}

#I:hover {
    color: rgb(255, 5, 192) !important;
}

#J:hover {
    color: rgb(255, 5, 192) !important;
}

#K:hover {
    color: rgb(255, 5, 192) !important;
}

#L:hover {
    color: rgb(255, 5, 192) !important;
}

#M {
    text-align: center;
    color: rgb(255, 5, 192) !important;
    padding-top: 35px;
    font-size: 45px;
}

#N:hover {
    color: rgb(255, 5, 192) !important;
}

#O:hover {
    color: rgb(255, 5, 192) !important;
}

#P:hover {
    color: rgb(255, 5, 192) !important;
}

#A:hover {
    color: rgb(255, 5, 192) !important;
}

#Q:hover {
    color: rgb(255, 5, 192) !important;
}

#R:hover {
    color: rgb(255, 5, 192) !important;
}

#S:hover {
    color: rgb(255, 5, 192) !important;
}

#T:hover {
    color: rgb(255, 5, 192) !important;
}

#U:hover {
    color: rgb(255, 5, 192) !important;
}

#V:hover {
    color: rgb(255, 5, 192) !important;
}

#W:hover {
    color: rgb(255, 5, 192) !important;
}

#X:hover {
    color: rgb(255, 5, 192) !important;
}

#Y:hover {
    color: rgb(255, 5, 192) !important;
}
